examples/ble.json
[
  { "id": "2a75f3c2.5cd63c", "type": "tab", "label": "Sample: BLE", "disabled": false, "info": "" },
  {
    "id": "5a0ba5a5.1aaebc",
    "type": "ble connect",
    "z": "2a75f3c2.5cd63c",
    "name": "",
    "device": "679b9368.ca728c",
    "x": 580,
    "y": 180,
    "wires": [["bec00016.52b75"]]
  },
  {
    "id": "b2bbcc83.8445d",
    "type": "ble scan",
    "z": "2a75f3c2.5cd63c",
    "name": "",
    "timeout": 5,
    "x": 590,
    "y": 120,
    "wires": [["bec00016.52b75"]]
  },
  {
    "id": "7732de0.7eede24",
    "type": "inject",
    "z": "2a75f3c2.5cd63c",
    "name": "",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 380,
    "y": 100,
    "wires": [["b2bbcc83.8445d"]]
  },
  {
    "id": "bec00016.52b75",
    "type": "debug",
    "z": "2a75f3c2.5cd63c",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "x": 810,
    "y": 320,
    "wires": []
  },
  {
    "id": "454ef5fa.b5ba8c",
    "type": "inject",
    "z": "2a75f3c2.5cd63c",
    "name": "",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 380,
    "y": 180,
    "wires": [["5a0ba5a5.1aaebc"]]
  },
  {
    "id": "33f6e791.bce868",
    "type": "ble disconnect",
    "z": "2a75f3c2.5cd63c",
    "name": "",
    "device": "679b9368.ca728c",
    "x": 590,
    "y": 440,
    "wires": [["bec00016.52b75"]]
  },
  {
    "id": "18acd0dd.1146ef",
    "type": "inject",
    "z": "2a75f3c2.5cd63c",
    "name": "",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 380,
    "y": 440,
    "wires": [["33f6e791.bce868"]]
  },
  {
    "id": "8f675748.eb83f8",
    "type": "ble read",
    "z": "2a75f3c2.5cd63c",
    "name": "",
    "device": "679b9368.ca728c",
    "service": "180F",
    "characteristic": "2A19",
    "x": 450,
    "y": 300,
    "wires": [["3c6a3024.48b5c"]]
  },
  {
    "id": "a2cffe6a.65947",
    "type": "inject",
    "z": "2a75f3c2.5cd63c",
    "name": "",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 400,
    "y": 240,
    "wires": [["8f675748.eb83f8"]]
  },
  {
    "id": "3c6a3024.48b5c",
    "type": "base64",
    "z": "2a75f3c2.5cd63c",
    "name": "",
    "action": "",
    "property": "payload.value",
    "x": 600,
    "y": 280,
    "wires": [["bec00016.52b75"]]
  },
  {
    "id": "7ee67fc1.09172",
    "type": "ble write",
    "z": "2a75f3c2.5cd63c",
    "name": "",
    "device": "679b9368.ca728c",
    "service": "F000AA64-0451-4000-B000-000000000000",
    "characteristic": "F000AA65-0451-4000-B000-000000000000",
    "x": 590,
    "y": 360,
    "wires": [["bec00016.52b75"]]
  },
  {
    "id": "26a3bec9.38fd22",
    "type": "inject",
    "z": "2a75f3c2.5cd63c",
    "name": "",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "1",
    "payloadType": "num",
    "x": 270,
    "y": 340,
    "wires": [["6c6fcbd.ff5c334"]]
  },
  {
    "id": "6c6fcbd.ff5c334",
    "type": "base64",
    "z": "2a75f3c2.5cd63c",
    "name": "",
    "action": "str",
    "property": "payload",
    "x": 440,
    "y": 360,
    "wires": [["7ee67fc1.09172"]]
  },
  {
    "id": "f69f9dad.ff003",
    "type": "ble subscribe",
    "z": "2a75f3c2.5cd63c",
    "name": "",
    "device": "cff2a949.2944f8",
    "service": "FFE0",
    "characteristic": "FFE1",
    "x": 480,
    "y": 580,
    "wires": [["b88b21cc.46c16"]]
  },
  {
    "id": "abeb34b7.b87028",
    "type": "inject",
    "z": "2a75f3c2.5cd63c",
    "name": "",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 280,
    "y": 580,
    "wires": [["f69f9dad.ff003"]]
  },
  {
    "id": "b88b21cc.46c16",
    "type": "debug",
    "z": "2a75f3c2.5cd63c",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "x": 696,
    "y": 578,
    "wires": []
  },
  {
    "id": "d3c44b81.74ea78",
    "type": "ble unsubscribe",
    "z": "2a75f3c2.5cd63c",
    "name": "",
    "device": "cff2a949.2944f8",
    "service": "FFE0",
    "characteristic": "FFE1",
    "x": 480,
    "y": 660,
    "wires": [["8821af91.728a2"]]
  },
  {
    "id": "939891f2.1c03c",
    "type": "inject",
    "z": "2a75f3c2.5cd63c",
    "name": "",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 280,
    "y": 660,
    "wires": [["d3c44b81.74ea78"]]
  },
  {
    "id": "8821af91.728a2",
    "type": "debug",
    "z": "2a75f3c2.5cd63c",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "x": 690,
    "y": 660,
    "wires": []
  },
  {
    "id": "34a6ba5f.0a6cc6",
    "type": "ble notification",
    "z": "2a75f3c2.5cd63c",
    "name": "",
    "x": 360,
    "y": 500,
    "wires": [["c5c420f2.c112c"]]
  },
  {
    "id": "c5c420f2.c112c",
    "type": "debug",
    "z": "2a75f3c2.5cd63c",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "x": 550,
    "y": 500,
    "wires": []
  },
  { "id": "679b9368.ca728c", "type": "bledevice", "name": "", "address": "54:6C:0E:80:87:83" },
  { "id": "cff2a949.2944f8", "type": "bledevice", "name": "", "address": "54:6C:0E:80:87:83" }
]
