examples/ble.json
[{"id":"b32abc29.54a33","type":"ble connect","z":"9f2d57ba.636b58","name":"","device":"f3fbea50.783e38","x":520,"y":160,"wires":[["7044b2c2.a0c50c"]]},{"id":"9b961586.aa4f08","type":"ble scan","z":"9f2d57ba.636b58","name":"","timeout":5,"x":530,"y":100,"wires":[["7044b2c2.a0c50c"]]},{"id":"85344116.2f25a","type":"inject","z":"9f2d57ba.636b58","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":320,"y":80,"wires":[["9b961586.aa4f08"]]},{"id":"7044b2c2.a0c50c","type":"debug","z":"9f2d57ba.636b58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":300,"wires":[]},{"id":"1a2586d4.3670f9","type":"inject","z":"9f2d57ba.636b58","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":320,"y":160,"wires":[["b32abc29.54a33"]]},{"id":"94de7f6a.69804","type":"ble disconnect","z":"9f2d57ba.636b58","name":"","device":"f3fbea50.783e38","x":530,"y":420,"wires":[["7044b2c2.a0c50c"]]},{"id":"22e47c53.1c4834","type":"inject","z":"9f2d57ba.636b58","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":320,"y":420,"wires":[["94de7f6a.69804"]]},{"id":"23b5b45d.bc24cc","type":"ble read","z":"9f2d57ba.636b58","name":"","device":"f3fbea50.783e38","service":"180F","characteristic":"2A19","x":390,"y":280,"wires":[["15715394.a996ac"]]},{"id":"966b24f8.0a9d88","type":"inject","z":"9f2d57ba.636b58","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":340,"y":220,"wires":[["23b5b45d.bc24cc"]]},{"id":"15715394.a996ac","type":"base64","z":"9f2d57ba.636b58","name":"","action":"","property":"payload.value","x":540,"y":260,"wires":[["7044b2c2.a0c50c"]]},{"id":"1776a9b8.36e326","type":"ble write","z":"9f2d57ba.636b58","name":"","device":"f3fbea50.783e38","service":"F000AA64-0451-4000-B000-000000000000","characteristic":"F000AA65-0451-4000-B000-000000000000","x":530,"y":340,"wires":[["7044b2c2.a0c50c"]]},{"id":"69e95071.ee009","type":"inject","z":"9f2d57ba.636b58","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":320,"wires":[["336f2677.6e947a"]]},{"id":"336f2677.6e947a","type":"base64","z":"9f2d57ba.636b58","name":"","action":"str","property":"payload","x":380,"y":340,"wires":[["1776a9b8.36e326"]]},{"id":"f3fbea50.783e38","type":"bledevice","z":"","name":"","address":"54:6C:0E:80:87:83"}]