examples/ble.json
[{"id":"adb02219.f5a2e","type":"ble connect","z":"85cecdfe.89e69","name":"","device":"679b9368.ca728c","x":620,"y":240,"wires":[["b0c5ea20.c69068"]]},{"id":"651c2d5f.0ad5f4","type":"ble scan","z":"85cecdfe.89e69","name":"","timeout":5,"x":630,"y":180,"wires":[["b0c5ea20.c69068"]]},{"id":"c5e23c1a.d6cbe","type":"inject","z":"85cecdfe.89e69","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":420,"y":160,"wires":[["651c2d5f.0ad5f4"]]},{"id":"b0c5ea20.c69068","type":"debug","z":"85cecdfe.89e69","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":850,"y":380,"wires":[]},{"id":"563e648.281949c","type":"inject","z":"85cecdfe.89e69","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":420,"y":240,"wires":[["adb02219.f5a2e"]]},{"id":"ac31650d.40b248","type":"ble disconnect","z":"85cecdfe.89e69","name":"","device":"679b9368.ca728c","x":630,"y":500,"wires":[["b0c5ea20.c69068"]]},{"id":"89c1c641.9c6148","type":"inject","z":"85cecdfe.89e69","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":420,"y":500,"wires":[["ac31650d.40b248"]]},{"id":"5e314cf8.25c974","type":"ble read","z":"85cecdfe.89e69","name":"","device":"679b9368.ca728c","service":"180F","characteristic":"2A19","x":490,"y":360,"wires":[["25228121.a2a7de"]]},{"id":"eb707279.15b5d","type":"inject","z":"85cecdfe.89e69","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":440,"y":300,"wires":[["5e314cf8.25c974"]]},{"id":"25228121.a2a7de","type":"base64","z":"85cecdfe.89e69","name":"","action":"","property":"payload.value","x":640,"y":340,"wires":[["b0c5ea20.c69068"]]},{"id":"d20b6c38.e1e51","type":"ble write","z":"85cecdfe.89e69","name":"","device":"679b9368.ca728c","service":"F000AA64-0451-4000-B000-000000000000","characteristic":"F000AA65-0451-4000-B000-000000000000","x":630,"y":420,"wires":[["b0c5ea20.c69068"]]},{"id":"d5a58845.429868","type":"inject","z":"85cecdfe.89e69","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":310,"y":400,"wires":[["e422d7c7.343dd8"]]},{"id":"e422d7c7.343dd8","type":"base64","z":"85cecdfe.89e69","name":"","action":"str","property":"payload","x":480,"y":420,"wires":[["d20b6c38.e1e51"]]},{"id":"8b080b6.32f5ff8","type":"ble subscribe","z":"85cecdfe.89e69","name":"","device":"cff2a949.2944f8","service":"FFE0","characteristic":"FFE1","x":520,"y":640,"wires":[["1fa4af7d.051571"]]},{"id":"a906222f.c99b7","type":"inject","z":"85cecdfe.89e69","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":320,"y":640,"wires":[["8b080b6.32f5ff8"]]},{"id":"1fa4af7d.051571","type":"debug","z":"85cecdfe.89e69","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":736,"y":638,"wires":[]},{"id":"f9a653e1.8b488","type":"ble unsubscribe","z":"85cecdfe.89e69","name":"","device":"cff2a949.2944f8","service":"FFE0","characteristic":"FFE1","x":520,"y":720,"wires":[["b51de127.822dc"]]},{"id":"df200460.ae3e88","type":"inject","z":"85cecdfe.89e69","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":320,"y":720,"wires":[["f9a653e1.8b488"]]},{"id":"b51de127.822dc","type":"debug","z":"85cecdfe.89e69","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":720,"wires":[]},{"id":"9d1ac20.c454b4","type":"ble notification","z":"85cecdfe.89e69","name":"","x":400,"y":560,"wires":[["2f24e7b2.196858"]]},{"id":"2f24e7b2.196858","type":"debug","z":"85cecdfe.89e69","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":560,"wires":[]},{"id":"679b9368.ca728c","type":"bledevice","z":"","name":"","address":"54:6C:0E:80:87:83"},{"id":"cff2a949.2944f8","type":"bledevice","z":"","name":"","address":"54:6C:0E:80:87:83"}]