examples/camera-command.json
[{"id":"1446571d.4839a9","type":"tab","label":"Sample: Camera","disabled":false,"info":""},{"id":"539a5caa.a90034","type":"camera-open","z":"1446571d.4839a9","direction":"front","name":"","preview":"enable","x":580,"y":140,"wires":[["83d31a34.75b338"]]},{"id":"e5117d45.b5989","type":"take-picture","z":"1446571d.4839a9","name":"","x":570,"y":220,"wires":[["191ee960.1208a7","83d31a34.75b338"]]},{"id":"191ee960.1208a7","type":"image","z":"1446571d.4839a9","name":"","width":160,"data":"payload","dataType":"msg","thumbnail":false,"active":true,"x":840,"y":240,"wires":[]},{"id":"66a5b735.ee1498","type":"inject","z":"1446571d.4839a9","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":360,"y":140,"wires":[["539a5caa.a90034"]]},{"id":"67e83231.3ebefc","type":"camera-close","z":"1446571d.4839a9","name":"","x":580,"y":400,"wires":[["83d31a34.75b338"]]},{"id":"fe30a3fe.fc1be","type":"camera-switch","z":"1446571d.4839a9","name":"","x":580,"y":320,"wires":[["83d31a34.75b338"]]},{"id":"7259fbd7.8ff394","type":"inject","z":"1446571d.4839a9","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":360,"y":320,"wires":[["fe30a3fe.fc1be"]]},{"id":"9f5f42c6.ea171","type":"inject","z":"1446571d.4839a9","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":360,"y":220,"wires":[["e5117d45.b5989"]]},{"id":"21beb105.872abe","type":"inject","z":"1446571d.4839a9","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":360,"y":400,"wires":[["67e83231.3ebefc"]]},{"id":"83d31a34.75b338","type":"debug","z":"1446571d.4839a9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":830,"y":140,"wires":[]}]
