examples/camera.json
[{"id":"baf9ad0b.9e714","type":"camera-open","z":"33b357a1.3f96b8","name":"","preview":"disable","x":240,"y":160,"wires":[["698ad3c2.1750ec"]]},{"id":"698ad3c2.1750ec","type":"take-picture","z":"33b357a1.3f96b8","name":"","x":410,"y":100,"wires":[["668f2740.a476d8"]]},{"id":"668f2740.a476d8","type":"image","z":"33b357a1.3f96b8","name":"","width":160,"data":"payload","dataType":"msg","thumbnail":false,"active":true,"x":640,"y":160,"wires":[]},{"id":"bb6b974f.6d02c8","type":"inject","z":"33b357a1.3f96b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":100,"wires":[["baf9ad0b.9e714"]]},{"id":"6b77bf22.9910f","type":"camera-close","z":"33b357a1.3f96b8","name":"","x":340,"y":320,"wires":[[]]},{"id":"6b143084.03863","type":"camera-switch","z":"33b357a1.3f96b8","name":"","x":340,"y":240,"wires":[[]]},{"id":"2609add1.194bd2","type":"inject","z":"33b357a1.3f96b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":240,"wires":[["6b143084.03863"]]},{"id":"1bb5c9a.4c13336","type":"inject","z":"33b357a1.3f96b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":320,"wires":[["6b77bf22.9910f"]]}]