examples/camera.json
[{"id":"77338b85.eeb354","type":"tab","label":"Sample: Camera","disabled":false,"info":""},{"id":"363081ff.ab588e","type":"camera-open","z":"77338b85.eeb354","direction":"back","name":"","preview":"disable","x":420,"y":240,"wires":[["2911f0d0.fca25"]]},{"id":"2911f0d0.fca25","type":"take-picture","z":"77338b85.eeb354","name":"","x":590,"y":160,"wires":[["9b42f309.2bd88","3ec740e6.761ef"]]},{"id":"9b42f309.2bd88","type":"image","z":"77338b85.eeb354","name":"","width":160,"data":"payload","dataType":"msg","thumbnail":false,"active":true,"x":840,"y":240,"wires":[]},{"id":"d75fe6ca.421848","type":"inject","z":"77338b85.eeb354","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":300,"y":160,"wires":[["363081ff.ab588e"]]},{"id":"3ec740e6.761ef","type":"camera-close","z":"77338b85.eeb354","name":"","x":840,"y":160,"wires":[[]]},{"id":"9f8f4eec.8fa8b","type":"camera-switch","z":"77338b85.eeb354","name":"","x":600,"y":360,"wires":[[]]},{"id":"ce777ade.afd128","type":"inject","z":"77338b85.eeb354","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":360,"y":340,"wires":[["9f8f4eec.8fa8b"]]}]