examples/clipboard.json
[{"id":"4d6d7a6b.989c14","type":"tab","label":"Sample: clipboard","disabled":false,"info":""},{"id":"e08d92ce.9eeca","type":"clipboard","z":"4d6d7a6b.989c14","mode":"copy","name":"copy","x":510,"y":220,"wires":[["2bbc2b71.e19714"]]},{"id":"8bc55ed6.d3792","type":"inject","z":"4d6d7a6b.989c14","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"First","payloadType":"str","x":270,"y":220,"wires":[["e08d92ce.9eeca"]]},{"id":"2bbc2b71.e19714","type":"debug","z":"4d6d7a6b.989c14","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":830,"y":360,"wires":[]},{"id":"75f7d3ad.c6f46c","type":"clipboard","z":"4d6d7a6b.989c14","mode":"copy","name":"copy","x":510,"y":340,"wires":[["2bbc2b71.e19714"]]},{"id":"e6725c9c.0f126","type":"inject","z":"4d6d7a6b.989c14","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Second","payloadType":"str","x":270,"y":340,"wires":[["75f7d3ad.c6f46c"]]},{"id":"f7e7e3d6.9121","type":"clipboard","z":"4d6d7a6b.989c14","mode":"paste","name":"paste","x":510,"y":440,"wires":[["2bbc2b71.e19714"]]},{"id":"fb4f7888.3f76a8","type":"inject","z":"4d6d7a6b.989c14","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":300,"y":440,"wires":[["f7e7e3d6.9121"]]},{"id":"fedac2dc.55ae","type":"clipboard","z":"4d6d7a6b.989c14","mode":"clear","name":"clear","x":510,"y":520,"wires":[["2bbc2b71.e19714"]]},{"id":"ed88ea50.a538a8","type":"inject","z":"4d6d7a6b.989c14","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":300,"y":520,"wires":[["fedac2dc.55ae"]]}]
