examples/fcm.json
[{"id":"1a0f2c1c.4138f4","type":"tab","label":"Sample: FCM","disabled":false,"info":""},{"id":"2fbb395e.03a2c6","type":"fcm token","z":"1a0f2c1c.4138f4","name":"","x":430,"y":160,"wires":[["442ed266.22849c","78e2b2e7.4d808c"]]},{"id":"592689dc.06f9d8","type":"inject","z":"1a0f2c1c.4138f4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":160,"wires":[["2fbb395e.03a2c6"]]},{"id":"442ed266.22849c","type":"debug","z":"1a0f2c1c.4138f4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":630,"y":80,"wires":[]},{"id":"dd5cad2a.6ed1f","type":"fcm data message","z":"1a0f2c1c.4138f4","name":"","x":250,"y":260,"wires":[["8f807cbd.82698"]]},{"id":"8f807cbd.82698","type":"debug","z":"1a0f2c1c.4138f4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":590,"y":260,"wires":[]},{"id":"8d4c2508.76b108","type":"http request","z":"1a0f2c1c.4138f4","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://redmobile-cloud-message.herokuapp.com/v1/message/send","tls":"","persist":false,"proxy":"","authType":"","x":790,"y":160,"wires":[["4de2cc54.cf0bd4"]]},{"id":"78e2b2e7.4d808c","type":"function","z":"1a0f2c1c.4138f4","name":"","func":"const token = msg.payload;\nmsg.payload = {\n    \"data\": {\n        \"Hello\": \"World\"\n    },\n    \"token\": token\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":160,"wires":[["8d4c2508.76b108"]]},{"id":"4de2cc54.cf0bd4","type":"debug","z":"1a0f2c1c.4138f4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1010,"y":160,"wires":[]}]