examples/magnatic.json
[{"id":"de4a78c4.062c98","type":"tab","label":"Magnetic","disabled":false,"info":""},{"id":"31a1cd11.a0c162","type":"sensor subscribe","z":"de4a78c4.062c98","sensor":"magnetic","freq":"1000","name":"","x":360,"y":140,"wires":[["b9d8ac3d.b1d77"]]},{"id":"751d3b36.78d4f4","type":"inject","z":"de4a78c4.062c98","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":120,"wires":[["31a1cd11.a0c162"]]},{"id":"472e2207.debe9c","type":"sensor unsubscribe","z":"de4a78c4.062c98","sensor":"magnetic","name":"","x":370,"y":220,"wires":[["a78493fc.96a87"]]},{"id":"e04305a4.ffc828","type":"inject","z":"de4a78c4.062c98","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":200,"wires":[["472e2207.debe9c"]]},{"id":"b9d8ac3d.b1d77","type":"debug","z":"de4a78c4.062c98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":140,"wires":[]},{"id":"a78493fc.96a87","type":"debug","z":"de4a78c4.062c98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":220,"wires":[]},{"id":"dc501d84.3c0a6","type":"debug","z":"de4a78c4.062c98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":430,"y":380,"wires":[]},{"id":"c70e1f83.f2132","type":"magnetic","z":"de4a78c4.062c98","name":"","x":200,"y":360,"wires":[["dc501d84.3c0a6"]]}]