examples/mlkit.json
[{"id":"a3558594.3f81a8","type":"tab","label":"Sample: MLKit","disabled":false,"info":""},{"id":"d2f69357.b4adf","type":"camera","z":"a3558594.3f81a8","quality":50,"destinationType":"file","saveToPhotoAlbum":false,"name":"","x":450,"y":280,"wires":[["4fcf6e1f.f3d1c","192b8b89.dfe244","d73e5103.de017"]]},{"id":"92980dc6.e3afb","type":"inject","z":"a3558594.3f81a8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":260,"y":280,"wires":[["d2f69357.b4adf"]]},{"id":"4fcf6e1f.f3d1c","type":"text recognizer","z":"a3558594.3f81a8","name":"","x":650,"y":200,"wires":[["b62038b.e41a6c8"]]},{"id":"192b8b89.dfe244","type":"image labeler","z":"a3558594.3f81a8","name":"","x":660,"y":300,"wires":[["b62038b.e41a6c8"]]},{"id":"d73e5103.de017","type":"barcode detector","z":"a3558594.3f81a8","name":"","x":670,"y":380,"wires":[["b62038b.e41a6c8"]]},{"id":"b62038b.e41a6c8","type":"debug","z":"a3558594.3f81a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":930,"y":300,"wires":[]}]
