examples/mlkit.json
[{"id":"57bb43e0.53204c","type":"tab","label":"mlkit sample","disabled":false,"info":""},{"id":"623999f2.822748","type":"camera","z":"57bb43e0.53204c","quality":50,"destinationType":"file","saveToPhotoAlbum":false,"name":"","x":450,"y":280,"wires":[["4e91f36.a46720c","e6f9e725.da0e68","385c795d.72ca56"]]},{"id":"4d115c1c.510554","type":"inject","z":"57bb43e0.53204c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":260,"y":280,"wires":[["623999f2.822748"]]},{"id":"4e91f36.a46720c","type":"text recognizer","z":"57bb43e0.53204c","name":"","x":650,"y":200,"wires":[["6af02334.44179c"]]},{"id":"e6f9e725.da0e68","type":"image labeler","z":"57bb43e0.53204c","name":"","x":660,"y":300,"wires":[["6af02334.44179c"]]},{"id":"385c795d.72ca56","type":"barcode detector","z":"57bb43e0.53204c","name":"","x":670,"y":380,"wires":[["6af02334.44179c"]]},{"id":"6af02334.44179c","type":"debug","z":"57bb43e0.53204c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":930,"y":300,"wires":[]}]