examples/motion.json
[{"id":"9d1a9c36.da222","type":"tab","label":"Motion","disabled":false,"info":""},{"id":"ef379bc7.c59808","type":"sensor subscribe","z":"9d1a9c36.da222","sensor":"motion","freq":"1000","name":"","x":360,"y":140,"wires":[["2e4e1fdd.53705"]]},{"id":"34aac79e.64bcc8","type":"inject","z":"9d1a9c36.da222","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":120,"wires":[["ef379bc7.c59808"]]},{"id":"8fadbea3.75835","type":"sensor unsubscribe","z":"9d1a9c36.da222","sensor":"motion","name":"","x":370,"y":220,"wires":[["811871d3.a3d3b"]]},{"id":"4fa31e55.c6969","type":"inject","z":"9d1a9c36.da222","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":200,"wires":[["8fadbea3.75835"]]},{"id":"2e4e1fdd.53705","type":"debug","z":"9d1a9c36.da222","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":140,"wires":[]},{"id":"811871d3.a3d3b","type":"debug","z":"9d1a9c36.da222","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":220,"wires":[]},{"id":"ea7facd4.65259","type":"debug","z":"9d1a9c36.da222","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":430,"y":380,"wires":[]},{"id":"2ac4d851.1e2768","type":"motion","z":"9d1a9c36.da222","name":"","x":260,"y":340,"wires":[["ea7facd4.65259"]]}]