examples/qrcode.json
[{"id":"57bb43e0.53204c","type":"tab","label":"Sample: QRCode","disabled":false,"info":""},{"id":"8a876487.bfcc68","type":"qrcode scan","z":"57bb43e0.53204c","name":"","camera":"back","showFlipCameraButton":true,"showTorchButton":true,"torchOn":false,"orientation":"portrait","prompt":"Please Show QRCode","x":510,"y":180,"wires":[["d3b6b0e7.bebdf"]]},{"id":"8b91f020.2d468","type":"inject","z":"57bb43e0.53204c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":300,"y":180,"wires":[["8a876487.bfcc68"]]},{"id":"d3b6b0e7.bebdf","type":"debug","z":"57bb43e0.53204c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":700,"y":180,"wires":[]}]
