examples/sensors.json
[{"id":"761b5a8a.b7c2c4","type":"tab","label":"Sample: Sensors","disabled":false,"info":""},{"id":"e45d3519.855328","type":"sensor subscribe","z":"761b5a8a.b7c2c4","sensor":"motion","freq":"1000","name":"Motion","x":340,"y":40,"wires":[["79afa520.0c061c"]]},{"id":"123031d2.2dc4ae","type":"sensor unsubscribe","z":"761b5a8a.b7c2c4","sensor":"motion","name":"Motion","x":340,"y":560,"wires":[["5c05edca.efdbc4"]]},{"id":"c549bb43.197388","type":"inject","z":"761b5a8a.b7c2c4","name":"Subscribe","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":40,"wires":[["e45d3519.855328"]]},{"id":"c640a03d.39cae","type":"inject","z":"761b5a8a.b7c2c4","name":"Unsubscribe","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":560,"wires":[["123031d2.2dc4ae","50f996e9.7441e8","8fe0d9f3.706d78","f1284fc6.b0967","a98aa1fc.c3b1e","d60be69c.7e3fc8","f40d6375.2cd45","d73bc395.1ec74"]]},{"id":"d53c3816.fea788","type":"sensor subscribe","z":"761b5a8a.b7c2c4","sensor":"compass","freq":"1000","name":"Compass","x":340,"y":100,"wires":[["79afa520.0c061c"]]},{"id":"4345c291.3fce5c","type":"sensor subscribe","z":"761b5a8a.b7c2c4","sensor":"geolocation","freq":"1000","name":"GeoLocation","x":350,"y":160,"wires":[["79afa520.0c061c"]]},{"id":"71ec5a25.4db504","type":"sensor subscribe","z":"761b5a8a.b7c2c4","sensor":"magnetic","freq":"1000","name":"Magnetic","x":340,"y":220,"wires":[["79afa520.0c061c"]]},{"id":"3c26d301.f9096c","type":"sensor subscribe","z":"761b5a8a.b7c2c4","sensor":"gyroscope","freq":"1000","name":"Gyroscope","x":350,"y":280,"wires":[["79afa520.0c061c"]]},{"id":"be63aaab.b12188","type":"sensor subscribe","z":"761b5a8a.b7c2c4","sensor":"light","freq":"1000","name":"Light","x":330,"y":340,"wires":[["79afa520.0c061c"]]},{"id":"d7a60ee8.f719a","type":"sensor subscribe","z":"761b5a8a.b7c2c4","sensor":"proximity","freq":"1000","name":"Proximity","x":340,"y":400,"wires":[["79afa520.0c061c"]]},{"id":"9ff345ca.dbe868","type":"motion","z":"761b5a8a.b7c2c4","name":"","x":750,"y":40,"wires":[["635d1f2f.63a59"]]},{"id":"635d1f2f.63a59","type":"debug","z":"761b5a8a.b7c2c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":970,"y":40,"wires":[]},{"id":"991fab1f.f8dcf8","type":"compass","z":"761b5a8a.b7c2c4","name":"","x":740,"y":100,"wires":[["b1aaeaba.cd42c8"]]},{"id":"b1aaeaba.cd42c8","type":"debug","z":"761b5a8a.b7c2c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":970,"y":100,"wires":[]},{"id":"931f36d5.b68988","type":"location","z":"761b5a8a.b7c2c4","name":"","x":750,"y":160,"wires":[["2e7b51eb.bc815e"]]},{"id":"2e7b51eb.bc815e","type":"debug","z":"761b5a8a.b7c2c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":970,"y":160,"wires":[]},{"id":"baaad80f.e31838","type":"magnetic","z":"761b5a8a.b7c2c4","name":"","x":740,"y":220,"wires":[["487eefba.15d94"]]},{"id":"487eefba.15d94","type":"debug","z":"761b5a8a.b7c2c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":970,"y":220,"wires":[]},{"id":"496954f4.0eb2ec","type":"gyroscope","z":"761b5a8a.b7c2c4","name":"","x":740,"y":280,"wires":[["992ea152.5f51f"]]},{"id":"992ea152.5f51f","type":"debug","z":"761b5a8a.b7c2c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":970,"y":280,"wires":[]},{"id":"47da6636.c233b8","type":"light","z":"761b5a8a.b7c2c4","name":"","x":750,"y":340,"wires":[["c63771d.851889"]]},{"id":"c63771d.851889","type":"debug","z":"761b5a8a.b7c2c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":970,"y":340,"wires":[]},{"id":"681dde47.e1b78","type":"proximity","z":"761b5a8a.b7c2c4","name":"","x":740,"y":400,"wires":[["75779758.0a2458"]]},{"id":"75779758.0a2458","type":"debug","z":"761b5a8a.b7c2c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":970,"y":400,"wires":[]},{"id":"50f996e9.7441e8","type":"sensor unsubscribe","z":"761b5a8a.b7c2c4","sensor":"compass","name":"Compass","x":340,"y":620,"wires":[["5c05edca.efdbc4"]]},{"id":"8fe0d9f3.706d78","type":"sensor unsubscribe","z":"761b5a8a.b7c2c4","sensor":"geolocation","name":"GeoLocation","x":350,"y":680,"wires":[["5c05edca.efdbc4"]]},{"id":"f1284fc6.b0967","type":"sensor unsubscribe","z":"761b5a8a.b7c2c4","sensor":"magnetic","name":"Magnetic","x":340,"y":740,"wires":[["5c05edca.efdbc4"]]},{"id":"a98aa1fc.c3b1e","type":"sensor unsubscribe","z":"761b5a8a.b7c2c4","sensor":"gyroscope","name":"Gyroscope","x":350,"y":800,"wires":[["5c05edca.efdbc4"]]},{"id":"d60be69c.7e3fc8","type":"sensor unsubscribe","z":"761b5a8a.b7c2c4","sensor":"light","name":"Light","x":330,"y":860,"wires":[["5c05edca.efdbc4"]]},{"id":"f40d6375.2cd45","type":"sensor unsubscribe","z":"761b5a8a.b7c2c4","sensor":"proximity","name":"Proximity","x":340,"y":920,"wires":[["5c05edca.efdbc4"]]},{"id":"5c05edca.efdbc4","type":"debug","z":"761b5a8a.b7c2c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":880,"wires":[]},{"id":"79afa520.0c061c","type":"debug","z":"761b5a8a.b7c2c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":460,"wires":[]},{"id":"c89bcaea.1adc58","type":"inject","z":"761b5a8a.b7c2c4","name":"Subscribe","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":100,"wires":[["d53c3816.fea788"]]},{"id":"cdb613a6.e1ce5","type":"inject","z":"761b5a8a.b7c2c4","name":"Subscribe","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":160,"wires":[["4345c291.3fce5c"]]},{"id":"8231dd0e.b5dbe","type":"inject","z":"761b5a8a.b7c2c4","name":"Subscribe","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":220,"wires":[["71ec5a25.4db504"]]},{"id":"31a0d73d.381188","type":"inject","z":"761b5a8a.b7c2c4","name":"Subscribe","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":280,"wires":[["3c26d301.f9096c"]]},{"id":"15aa8e14.49fd32","type":"inject","z":"761b5a8a.b7c2c4","name":"Subscribe","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":340,"wires":[["be63aaab.b12188"]]},{"id":"d4c09be1.c0e0f8","type":"inject","z":"761b5a8a.b7c2c4","name":"Subscribe","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":400,"wires":[["d7a60ee8.f719a"]]},{"id":"aacad6d2.dd8db8","type":"battery","z":"761b5a8a.b7c2c4","name":"","x":820,"y":680,"wires":[["6a72d49a.2f68bc"]]},{"id":"897acf9e.362d4","type":"inject","z":"761b5a8a.b7c2c4","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":700,"y":620,"wires":[["aacad6d2.dd8db8"]]},{"id":"ceea59f6.e1e138","type":"db","z":"761b5a8a.b7c2c4","name":"","x":830,"y":760,"wires":[["acdf2bd0.fbc438"]]},{"id":"8a6101f5.5f393","type":"inject","z":"761b5a8a.b7c2c4","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":700,"y":720,"wires":[["ceea59f6.e1e138"]]},{"id":"acdf2bd0.fbc438","type":"debug","z":"761b5a8a.b7c2c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":990,"y":760,"wires":[]},{"id":"6a72d49a.2f68bc","type":"debug","z":"761b5a8a.b7c2c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":990,"y":680,"wires":[]},{"id":"39cd45c4.feb52a","type":"sensor subscribe","z":"761b5a8a.b7c2c4","sensor":"nfc","freq":"1000","name":"NFC","x":330,"y":460,"wires":[["79afa520.0c061c"]]},{"id":"8ba820b4.b89c5","type":"inject","z":"761b5a8a.b7c2c4","name":"Subscribe","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":460,"wires":[["39cd45c4.feb52a"]]},{"id":"a371d0b0.85d7b","type":"nfc","z":"761b5a8a.b7c2c4","name":"","x":750,"y":460,"wires":[["77c948be.a990a8"]]},{"id":"77c948be.a990a8","type":"debug","z":"761b5a8a.b7c2c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":970,"y":460,"wires":[]},{"id":"d73bc395.1ec74","type":"sensor unsubscribe","z":"761b5a8a.b7c2c4","sensor":"nfc","name":"NFC","x":330,"y":980,"wires":[["5c05edca.efdbc4"]]}]
