examples/sqlite.json
[{"id":"9aced6c8.437c88","type":"tab","label":"Sample: SQLite","disabled":false,"info":""},{"id":"f20d1084.e5eb6","type":"sqlite","z":"9aced6c8.437c88","mydb":"13c54350.00746d","sqlquery":"fixed","sql":"SELECT * FROM MyTable","name":"","x":630,"y":260,"wires":[["67442fc5.81514"]]},{"id":"7a392538.67d31c","type":"inject","z":"9aced6c8.437c88","name":"Fixed Statement","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":280,"y":240,"wires":[["f20d1084.e5eb6"]]},{"id":"67442fc5.81514","type":"debug","z":"9aced6c8.437c88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":910,"y":260,"wires":[]},{"id":"94f3be52.729d5","type":"sqlite","z":"9aced6c8.437c88","mydb":"13c54350.00746d","sqlquery":"batch","sql":"","name":"","x":630,"y":140,"wires":[["2ecee066.4475e"]]},{"id":"98179d0a.0082","type":"inject","z":"9aced6c8.437c88","name":"Batch","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":250,"y":140,"wires":[["8460d111.85876"]]},{"id":"8460d111.85876","type":"function","z":"9aced6c8.437c88","name":"","func":"msg.topic = [\n    'DROP TABLE IF EXISTS MyTable',\n    'CREATE TABLE MyTable (name STRING, balance INTEGER)',\n    'INSERT INTO MyTable VALUES (\"Alice\",100)'\n];\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":140,"wires":[["94f3be52.729d5"]]},{"id":"2ecee066.4475e","type":"debug","z":"9aced6c8.437c88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":910,"y":140,"wires":[]},{"id":"77c33ddf.d6dc44","type":"sqlite","z":"9aced6c8.437c88","mydb":"13c54350.00746d","sqlquery":"msg.topic","sql":"SELECT * FROM MyTable","name":"","x":630,"y":380,"wires":[["4bdb42fe.05ec7c"]]},{"id":"42b0866e.0e43d8","type":"inject","z":"9aced6c8.437c88","name":"Via msg.topic","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":270,"y":340,"wires":[["d853107d.37b2f"]]},{"id":"4bdb42fe.05ec7c","type":"debug","z":"9aced6c8.437c88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":910,"y":380,"wires":[]},{"id":"d853107d.37b2f","type":"function","z":"9aced6c8.437c88","name":"","func":"msg.topic = 'INSERT INTO MyTable VALUES (?1,?2)';\nmsg.payload = ['Betty', 200];\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":380,"wires":[["77c33ddf.d6dc44"]]},{"id":"10a7ca14.7b8bc6","type":"sqlite","z":"9aced6c8.437c88","mydb":"13c54350.00746d","sqlquery":"prepared","sql":"INSERT INTO MyTable VALUES (?1,?2)","name":"","x":630,"y":500,"wires":[["4b0750fc.ba1bf"]]},{"id":"25a211c8.3118ee","type":"inject","z":"9aced6c8.437c88","name":"Prepared Statement","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":270,"y":460,"wires":[["28b7ce8c.fcba12"]]},{"id":"4b0750fc.ba1bf","type":"debug","z":"9aced6c8.437c88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":910,"y":500,"wires":[]},{"id":"28b7ce8c.fcba12","type":"function","z":"9aced6c8.437c88","name":"","func":"msg.params = ['Bob', 300];\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":500,"wires":[["10a7ca14.7b8bc6"]]},{"id":"d2ec836b.bd22c","type":"sqlite","z":"9aced6c8.437c88","mydb":"13c54350.00746d","sqlquery":"delete","sql":"INSERT INTO MyTable VALUES (?1,?2)","name":"","x":630,"y":600,"wires":[["15606d22.3062e3"]]},{"id":"15606d22.3062e3","type":"debug","z":"9aced6c8.437c88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":910,"y":600,"wires":[]},{"id":"58175dbe.cff6b4","type":"inject","z":"9aced6c8.437c88","name":"Delete Database","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":260,"y":600,"wires":[["d2ec836b.bd22c"]]},{"id":"13c54350.00746d","type":"sqlitedb","db":"sample.db","mode":"RWC"}]