examples/sqlite.json
[{"id":"f20d1084.e5eb6","type":"sqlite","z":"7db8ee42.45689","mydb":"13c54350.00746d","sqlquery":"fixed","sql":"SELECT * FROM MyTable","name":"","x":550,"y":260,"wires":[["67442fc5.81514"]]},{"id":"7a392538.67d31c","type":"inject","z":"7db8ee42.45689","name":"Fixed Statement","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":240,"wires":[["f20d1084.e5eb6"]]},{"id":"67442fc5.81514","type":"debug","z":"7db8ee42.45689","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":830,"y":260,"wires":[]},{"id":"94f3be52.729d5","type":"sqlite","z":"7db8ee42.45689","mydb":"13c54350.00746d","sqlquery":"batch","sql":"","name":"","x":550,"y":140,"wires":[["2ecee066.4475e"]]},{"id":"98179d0a.0082","type":"inject","z":"7db8ee42.45689","name":"Batch","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":140,"wires":[["8460d111.85876"]]},{"id":"8460d111.85876","type":"function","z":"7db8ee42.45689","name":"","func":"msg.topic = [\n    'DROP TABLE IF EXISTS MyTable',\n    'CREATE TABLE MyTable (name STRING, balance INTEGER)',\n    'INSERT INTO MyTable VALUES (\"Alice\",100)'\n];\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":140,"wires":[["94f3be52.729d5"]]},{"id":"2ecee066.4475e","type":"debug","z":"7db8ee42.45689","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":830,"y":140,"wires":[]},{"id":"77c33ddf.d6dc44","type":"sqlite","z":"7db8ee42.45689","mydb":"13c54350.00746d","sqlquery":"msg.topic","sql":"SELECT * FROM MyTable","name":"","x":550,"y":380,"wires":[["4bdb42fe.05ec7c"]]},{"id":"42b0866e.0e43d8","type":"inject","z":"7db8ee42.45689","name":"Via msg.topic","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":340,"wires":[["d853107d.37b2f"]]},{"id":"4bdb42fe.05ec7c","type":"debug","z":"7db8ee42.45689","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":830,"y":380,"wires":[]},{"id":"d853107d.37b2f","type":"function","z":"7db8ee42.45689","name":"","func":"msg.topic = 'INSERT INTO MyTable VALUES (?1,?2)';\nmsg.payload = ['Betty', 200];\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":380,"wires":[["77c33ddf.d6dc44"]]},{"id":"10a7ca14.7b8bc6","type":"sqlite","z":"7db8ee42.45689","mydb":"13c54350.00746d","sqlquery":"prepared","sql":"INSERT INTO MyTable VALUES (?1,?2)","name":"","x":550,"y":500,"wires":[["4b0750fc.ba1bf"]]},{"id":"25a211c8.3118ee","type":"inject","z":"7db8ee42.45689","name":"Prepared Statement","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":460,"wires":[["28b7ce8c.fcba12"]]},{"id":"4b0750fc.ba1bf","type":"debug","z":"7db8ee42.45689","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":830,"y":500,"wires":[]},{"id":"28b7ce8c.fcba12","type":"function","z":"7db8ee42.45689","name":"","func":"msg.params = ['Bob', 300];\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":500,"wires":[["10a7ca14.7b8bc6"]]},{"id":"d2ec836b.bd22c","type":"sqlite","z":"7db8ee42.45689","mydb":"13c54350.00746d","sqlquery":"delete","sql":"INSERT INTO MyTable VALUES (?1,?2)","name":"","x":550,"y":600,"wires":[["15606d22.3062e3"]]},{"id":"15606d22.3062e3","type":"debug","z":"7db8ee42.45689","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":830,"y":600,"wires":[]},{"id":"58175dbe.cff6b4","type":"inject","z":"7db8ee42.45689","name":"Delete Database","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":600,"wires":[["d2ec836b.bd22c"]]},{"id":"13c54350.00746d","type":"sqlitedb","z":"","db":"sample.db","mode":"RWC"}]