examples/startActivity.json
[{"id":"6d26c786.c45698","type":"tab","label":"Activity","disabled":false,"info":""},{"id":"fe25a030.127b6","type":"start-activity","z":"6d26c786.c45698","name":"","x":610,"y":320,"wires":[["dda0d484.a18308"]]},{"id":"61baaa92.ecd7d4","type":"inject","z":"6d26c786.c45698","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":260,"y":220,"wires":[["33f8a920.9119b6"]]},{"id":"dda0d484.a18308","type":"debug","z":"6d26c786.c45698","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":800,"y":280,"wires":[]},{"id":"33f8a920.9119b6","type":"function","z":"6d26c786.c45698","name":"","func":"msg.payload = {\n    \"action\": \"android.intent.action.DIAL\",\n    \"url\": \"tel:012345678\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":280,"wires":[["fe25a030.127b6"]]}]
